/* BANNER TOP  */
.HomeCarousel{
    display: flex !important;
    margin: 0 150px;
}
.carousel{
    width: 68%;
}
.advertisement{
    width: 32%;
    padding: 10px;
    background-color: #ffffff;
}
/* HOME PAGE */
.HomePhone, .HomeIpad, .HomeAppleWatch, .HomeMacBook {
    margin: 20px 150px 0px 150px;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
}
.name-home {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
/* BANNER BOTTOM */
.HomeBanner {
    margin-top: 20px;
    background-color: #ffffff;
}
.col-homebaner{
    padding: 0 150px;
}