/* HEADER MENU */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b6b6b !important;
    color: #ffffff !important;
}
.menu-item{
    justify-content: center;
}
.item:hover{
    color: #ffffff;
}
.item-dropdown:hover{
    color: #1890ff;
    font-size: 14px;
}
