/* PAGE REPAIR */
.RepairPage {
    margin: 0 150px;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
}
.nameRepair-itemMenu {
    border-bottom: 1px solid #f3f3f3;
}
.list-repair {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
}
.list-repair-child {
    padding: 15px 25px 0px;
}
.name-repair p:hover {
    color: #3366ff !important;
}
.image-repair {
    display: flex;
    justify-content: center;
}
